/*
 * Global filter styles 
 */

/* Filter style */
.filters {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 70px;
    width: 100%;
}

/* Button styles */
.filters button {
    border: none;
    border-radius: 4px;
    background-color: #ff5a5f;
    color: #fff;
    font-size: 18px;
    height: 48px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(-30px, -50%);
    width: 20%;
}

/* button hove style */
.filters button:hover {
    opacity: 90%;
}

/* filter styles */
.filters .locations,
.filters .amenities {
    display: flex;
    flex-direction: column;
    float: left;
    height: 100%;
    justify-content: center;
    width: 25%;
    position: relative;
}

/* filters location border style */
.filters .locations{
    border-right: 1px solid #ddd;
}

/* locations and amenities filter style */
.filters .locations .popover,
.filters .amenities .popover {
    border: 1px solid #ddd;
    background-color: #fafafa;
    border-radius: 4px;
    display: none;
    padding: 20px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
}

/* filters hover popover style */
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}

/* filters list style */
.filters .locations ul,
.filters .amenities ul {
    padding: 10px 0;
}

/* filters state list style */
.filters .locations li {
    margin: 0 30px;
}

/* filters amenities list style */
.filters .amenities li {
    margin: 10px 0 5px 30px;
}

/* 
 * Heading styles
 */

/* filters heading 2 style */
.filters h2 {
    font-weight: bold;
    font-size: 17px;
    margin-top: 6px;
    margin-left: 20px;
}

/* filters heading 3 style */
.filters h3 {
    font-weight: 600;
    font-size: 16px;
    margin-left: 30px
}

/* filters heading 2 style */
.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 30px;
}